.word{
    background-color: rgb(252, 253, 255);
}

.selected{
    background-color: peachpuff;
}


#btn-load-new-text{
    display: none;
}

#unsaved-memo-list {
    position: relative;
    max-height: 30em;
    overflow-y: auto;
}

#unsaved-memo-word-list {
    position: relative;
    max-height: 30em;
    overflow-y: auto;
    direction: rtl;
}

.list-group-item-action{
    direction: ltr;
}

body {
    background-color: lavenderblush;
}

header {
    background-color: lightpink;
}

.container {
    background-color: snow;
}

.fa-github {
    color: black;
  }

.fa-telegram {
    color:black;
}

.btn-primary {
    background-color: salmon;
    border-color: salmon;
}

.btn-outline-primary {
    /* background-color: salmon; */
    color: hotpink;
    border-color: hotpink;
}