.word{
    background-color: aliceblue;
}

.selected{
    background-color: coral;
}


#btn-load-new-text{
    display: none;
}

#unsaved-memo-list {
    position: relative;
    max-height: 30em;
    overflow-y: auto;
}

#unsaved-memo-word-list {
    position: relative;
    max-height: 30em;
    overflow-y: auto;
    direction: rtl;
}

.list-group-item-action{
    direction: ltr;
}